.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
.venv/
venv/
ENV/
env/
*.log
.DS_Store
.idea/
.vscode/

# Serverless Framework
.serverless/
.requirements.zip

# Node.js
node_modules/
package-lock.json
